.btn {
    @apply flex items-center justify-center py-3 px-10 lg:px-20 font-bold;
    border: 1px solid #1f8a70;
    border-radius: 25px;
    letter-spacing: 0.5px;

    &__primary {
        @apply bg-secondary text-white hover:opacity-80 hover:text-white;

        &:visited {
            @apply text-white;
        }
    }
}

.grid__posts {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    @screen md {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    @screen lg {
        display: grid;
        height: 424px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
            "a a b b"
            "a a c d";
    }

    .grid__posts__item1 {
        @screen lg {
            grid-area: a;
        }

        .title {
            @apply title--5 lg:title--4;
            text-transform: initial !important;
        }
    }
    .grid__posts__item2 {
        @screen lg {
            grid-area: b;
        }

        .title {
            @apply title--5 lg:title--5;
            text-transform: initial !important;
        }
    }
    .grid__posts__item3 {
        @screen lg {
            grid-area: c;
        }

        .title {
            @apply title--5 lg:title--5;
            text-transform: initial !important;
        }
    }
    .grid__posts__item4 {
        @screen lg {
            grid-area: d;
        }

        .title {
            @apply title--5 lg:title--5;
            text-transform: initial !important;
        }
    }
}

.tag {
    @apply bg-secondary text-white inline-flex items-center justify-center py-0 px-2 font-bold font-manrope;

    a{
        @apply text-white visited:text-white;
    }
}

.grid__posts__item {
    @apply backgroundSettings relative flex items-end pb-2 px-4 h-56 w-full lg:h-auto duration-300 ease-in-out transition-all cursor-pointer;

    &:hover{
        &:before{
            opacity: 0.2;
        }
    }

    &:before {
        @apply absolute w-full h-full left-0 top-0 duration-300 ease-in-out transition-all;
        content: "";
        background-color: rgba(0, 0, 0, 0.6);
    }

    .content {
        @apply relative flex;

        .title {
            @apply text-white mb-0 mt-1;
        }

        span {
            @apply title--button text-primary-lighter font-manrope;
            font-weight: bold !important;
            letter-spacing: 0.5px;
            text-transform: capitalize !important;
        }
    }
}

.title__section {
    @apply pb-2 relative justify-between;
    border-bottom: 2px solid theme("colors.text");

    &:before {
        @apply bg-secondary absolute;
        content: "";
        display: block;
        width: 50px;
        height: 6px;
        bottom: -4px;
    }
}

.featured__post {
    @apply flex flex-wrap gap-4 mt-4 lg:mt-10;

    @screen lg {
        display: grid;
        gap: 1rem;
        height: 561px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
            "a a b"
            "a a c"
            "a a d";
    }

    .grid__posts__item1 {
        grid-area: a;
    }
    .item__post2 {
        grid-area: b;
    }
    .item__post3 {
        grid-area: c;
    }
    .item__post4 {
        grid-area: d;
    }
}

.item__post {
    @apply w-full;
    .image {
        @apply h-[127px] w-full bg-gray-100;

        img {
            @apply h-full w-full object-contain;
        }
    }

    a{
        @apply text-text visited:text-text hover:opacity-80 hover:text-text;
    }
}

.item__latest {
    .image {
        @apply lg:h-[180px] bg-gray-100;
        img {
            @apply md:h-full object-contain;
        }
    }

    .title {
        @apply mb-2;
    }

    a{
        @apply text-text visited:text-text hover:opacity-80 hover:text-text;
    }

    span {
        @apply title--button text-secondary font-manrope;
        font-weight: bold !important;
        letter-spacing: 0.5px;
        text-transform: capitalize !important;
    }
}

.about__content {
    p {
        @apply text-text title--body;
    }

    a {
        @apply text-secondary font-bold hover:opacity-80 visited:text-secondary;
    }
}

.follow__futbol__papa {
    a div {
        &:before {
            @apply text-secondary;
            font-size: 2rem;
        }
    }
}

.search {
    span {
        @apply text-text font-bold uppercase;
    }

    form {
        @apply flex flex-wrap gap-4;

        label {
            @apply w-full;
        }

        input {
            width: 100%;
        }

        input[type="search"] {
            @apply h-12 mt-2 pl-2;
            border: 2px solid theme("colors.text");

            &::placeholder {
                @apply text-[14px] pl-2 font-bold text-secondary !important;
            }
        }

        input[type="submit"] {
            @apply  hidden;
        }
    }
}

.cats{
    p{
        @apply text-text font-bold;
    }

    a{
        @apply title--5 text-text visited:text-text hover:opacity-80;
    }
}

.info-post .title{
    @apply normal-case !important;

    a{
        @apply no-underline !important;
    }
}

.custom-pagination{
    @apply text-center mt-8;
   a{
    @apply text-secondary visited:text-secondary no-underline !important;
   } 

   .current{
    @apply bg-secondary text-white inline-flex justify-center items-center;
    border-radius: 50%;
    width: 20px;
    height: 20px;
   }
}

.header-post{
    @apply bg-gray-100;
    img{
        @apply h-[250px] w-full object-contain;
    }
}

.trending__bar--title span{
    @apply text-white;
}