.single__post {
    p {
        @apply text-text font-normal font-manrope;
    }

    .featuredImage {
        @apply mt-0 lg:h-[350px] flex;
        img {
            @apply w-full h-full object-cover;
        }
    }
}

.hero__about {
    &--left {
        @apply order-2 mt-4 text-center lg:order-1 md:mt-0 md:text-left;
        .title {
            @apply title--4 lg:title--3 text-text font-book;
        }

        .logos {
            @apply mt-4;
            .item__logo {
                @apply flex items-center justify-center;
                img {
                    @apply max-h-[100px] object-contain;
                }
            }
        }

        .social__icons {

            a div{
                &:before {
                    @apply text-secondary;
                    font-size: 2rem;
                }
            }
        }
    }

    &--right {
        @apply order-1 lg:order-2 w-full;

        .item {
            @apply w-full h-[350px] lg:h-[550px];
            img {
                @apply w-full h-full object-cover;
            }
        }
    }
}

.contact__info {
    strong {
        @apply text-secondary font-bold;
    }

    a,
    p {
        @apply text-text font-bold;
    }
}

.price__item{
    @apply text-white py-10 px-6;
    
    span{
        @apply title--button font-bold;
    }

    .price{
        @apply title--4 lg:title--3 text-white;
    }

    p{
        @apply text-white;
    }

    ul{
        @apply ml-4 mb-8;

        li{
            @apply title--6;
            text-transform: none;
            font-weight: 400;
        }
       
    }
}

.price__item--1{
    @apply bg-[#61876E];
}

.price__item--2{
    @apply bg-[#00425A];
}

.price__item--3{
    @apply bg-alternate;
}



.menuModal {
    .iziModal-content {
        @apply bg-white text-text;

        .modal__content {
            /* @apply px-7 !important; */

            p{
                @apply text-white;
            }

            img {
                width: 80%;
                height: auto;
                object-fit: cover;
                margin: 0 auto;
            }

            ul {
                @apply ml-4 mt-5;

                li {
                    list-style: disc;
                    a {
                        @apply text-text font-semibold visited:text-text;
                        letter-spacing: 1px;
                        transition: all 0.3s linear;

                        &:hover {
                            @apply text-primary-lighter;
                        }

                        &:visited {
                            @apply text-text;
                        }
                    }
                }
            }
        }
    }
}

.modal__header {
    text-align: right;

    button {
        @apply bg-transparent border-0;

        svg {
            path {
                stroke: #e7cfc4 !important;
            }
        }
    }
}

.iziModal-content {
    @apply px-8 pt-4 pb-8 !important;
}

.joinModal{
    max-width: 800px;
}





.joinModal {
    .iziModal-content {
        @apply bg-text text-white;

        .modal__content {
            /* @apply px-7 !important; */

            p{
                @apply text-white;
            }

            img {
                width: 80%;
                height: auto;
                object-fit: cover;
                margin: 0 auto;
            }

            ul {
                @apply ml-4 mt-5;

                li {
                    list-style: disc;
                    a {
                        @apply text-primary font-semibold;
                        letter-spacing: 1px;
                        transition: all 0.3s linear;

                        &:hover {
                            @apply text-primary-lighter;
                        }

                        &:visited {
                            @apply text-primary;
                        }
                    }
                }
            }
        }
    }
}

.menu-item-has-children {
    @apply relative;

    &:hover {
        .sub-menu {
            @apply flex flex-wrap justify-start gap-4;
        }
    }

    .sub-menu {
        @apply absolute hidden bg-white w-[250px] h-auto px-8 lg:p-4 left-0 ml-2 shadow;
        z-index: 1;

        li {
            @apply ml-0 !important;

            list-style: none;
        }
    }
}